## Basic Pandas DataFrame

In [8]:
from pylab import *
%matplotlib inline
import pandas as pd

df = pd.DataFrame( { 'a' : [1, 2, 3, 4], 'b': [ 'w', 'x', 'y', 'z'], 'code':["M","M","F","F"] })

In [9]:
df

   a  b code
0  1  w    M
1  2  x    M
2  3  y    F
3  4  z    F

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [10]:
df[1:3]

   a  b code
1  2  x    M
2  3  y    F

In [11]:
df.describe()

              a
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [12]:
df.apply(np.cumsum)

    a     b  code
0   1     w     M
1   3    wx    MM
2   6   wxy   MMF
3  10  wxyz  MMFF

In [13]:
grouped = df.groupby('code')
grouped

In [15]:
grouped.ngroups

2

In [16]:
grouped.groups.keys()

['M', 'F']

In [17]:
grouped.sum()

      a
code
F     7
M     3

Can do other things similar to dplyr with table manipulation: join, merge, reshape. Also work with time series and catagorical data

In [18]:
grouped.get_group('M')

   a  b
0  1  w
1  2  x

In [19]:
for name, group in grouped:
    print(name)
    print(group)

F
   a  b code
2  3  y    F
3  4  z    F
M
   a  b code
0  1  w    M
1  2  x    M